go 1.25

toolchain go1.25.0

use (
	.
	./addons/bootstrap/input
	./addons/containerd
	./addons/docker
	./addons/gcs
	./addons/gocache
	./addons/gocache/gcs
	./addons/gocache/s3
	./addons/k3s
	./addons/k8s
	./addons/mariadb
	./addons/postgres
	./addons/valkey
	./examples/full-stack
	./examples/gdev
	./examples/stack
	./magefiles
)
