go 1.25rc2

use (
	.
	./addons/containerd
	./addons/docker
	./addons/gcs
	./addons/gocache
	./addons/gocache/gcs
	./addons/gocache/s3
	./addons/k3s
	./addons/k8s
	./addons/postgres
	./addons/valkey
	./examples/gdev
	./examples/stack
	./magefiles
)
